body{
    background-image: linear-gradient(to right, #ffde59, #ff914d);
    font-family: 'Fira Code', monospace;
    margin: 0;
}

.header-containers {
    position: fixed;
    top: 0;
    left: 40%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    font-size: larger; 
    padding: 20px 40px; 
    z-index: 1000;
    box-sizing: border-box;
}

.about-content {
  display: flex;     
  height: 100vh;    /* full viewport height */   
}

.about-left {
  flex: 0 0 40%;       /* left half of the screen */
  height: 100vh;        /* full screen height */
  overflow: hidden;
}

.about-left img {
  height: 100%;
  width: 100%;
  object-fit: cover;    /* fills area without distortion */
}

.about-right {
  flex: 0 0 60%;       /* right half of the screen */
  height: 100vh;        /* full screen height */
  display: flex;
  flex-direction: column;
  justify-content: center;  /* center vertically */
  padding:70px;
  box-sizing: border-box;   
  line-height: 0;      
  font-size: large;
}

.code {          
  margin-top: 0px;          
  font-family: 'Fira Code', monospace; 
  
}

.about-me {
  display: flex;
  align-items: baseline;
  gap: 10px; 
  font-family: 'Fira Code', monospace;
  flex: 0 0 20%; 
  margin: 0;
}

.azure { color: #006c80; font-size: xxx-large;}
.red { color: #ff0000; font-size: xxx-large; }
.gray { color: #32344b; font-size: xxx-large; }

